.meaning {
  width: 100%;
  margin-top: 1rem;
}
.definition {
  width: 90%;
}
.list {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 160px;
  overflow-y: auto;
}
.text {
  font-size: 1rem;
  font-weight: 600;
}

/* Define the scrollbar style */
.list::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

/* Define the thumb style */
.list::-webkit-scrollbar-thumb {
  background-color: #f49d37;
  border-radius: 5px;
}

/* Define the track style */
.list::-webkit-scrollbar-track:horizontal {
  background-color: white;
  box-shadow: inset 0 0 2px 2px gainsboro;
}
