* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 100px;
  gap: 1rem;
  width: 80%;
  margin: 0 auto;
}
.word {
  background-color: firebrick;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
