@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@500;600;700&family=Nunito:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Nunito", sans-serif;
}
.grid {
  display: flex;
  gap: 1rem;
}

/* ---------------- */
/* Meaning Component */
.meaning-component {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkcyan;
  width: 100%;
}

.meaning-component.definition-box {
  display: flex;
  flex-direction: row;
}

.meaning-component.definition {
  background-color: honeydew;
  max-width: 100%;
  padding: 0.5rem;
}
.meaning-component.synonyms {
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.meaning-component.control {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem 0;
}

/* Meaning Component */
/* ---------------- */

/* ---------------- */
/* Word Component */
.word-component {
  gap: 1rem;
  width: 300px;
  padding: 1rem;
  background-color: firebrick;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
/* Word Component */
/* ---------------- */
